// Fonts
$poppins: 'Poppins', sans-serif;
$openSans: 'Open Sans';

// Colors
$background-light: #ffffff;
$background-dark: #505050;

$section-light: #f6f6f6;
$section-dark: #444444;

// Personal color
$halmar-beige: #b48f6e;

// Text colors
$text-light: #505050;
$text-dark: #f5f5f5;

.backgroundlight {
  background-color: $background-light;
}
.backgrounddark {
  background-color: $background-dark;
}
.sectionlight {
  background-color: $section-light;
}
.sectiondark {
  background-color: $section-dark;
}
.textlight {
  color: $text-light;
}
.textdark {
  color: $text-dark;
}
.beige {
  color: $halmar-beige;
}
