@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import '~/assets/css/_variables.scss';
@import '~/assets/css/text.scss';

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  }
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 120px;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: $background-light;
  &.dark {
    background-color: $background-dark;
  }
  .section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 150px 0px 150px;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    max-height: 700px;
    gap: 25px;
    background-color: $section-light;
    &.dark {
      background-color: $section-dark;
    }
  }
}

.toggle-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: -40px;
  .toggle {
    isolation: isolate;
    position: relative;
    height: 30px;
    width: 60px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: -8px -4px 8px 0px #fff, 8px 4px 12px 0px #d1d9e6, 4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #fff inset;
    cursor: pointer;
  }
  .toggle-state {
    display: none;
  }
  .indicator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 200%;
    background: #ecf0f3;
    border-radius: 15px;
    transform: translate3d(-75%, 0, 0);
    transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
    box-shadow: -8px -4px 8px 0px #fff, 8px 4px 12px 0px #d1d9e6;
    .icon-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 25px;
    }
  }
  .toggle-state:checked ~ .indicator {
    transform: translate3d(25%, 0, 0);
  }
  .activation-button {
    padding: 6px 28px 6px 28px;
    border: 2px solid grey;
    border-radius: 50px;
    color: grey;
    font-size: 15px;
    font-weight: 600;
    background: white;
    transition: all 0.2s ease-in-out;
  }
  &.dark {
    .toggle {
      box-shadow: -8px -4px 8px 0px rgb(66, 66, 66), 8px 4px 12px 0px rgb(48, 48, 48), 4px 4px 4px 0px rgb(48, 48, 48) inset,
        -4px -4px 4px 0px rgb(66, 66, 66) inset;
    }
    .indicator {
      background: rgb(66, 66, 66);
      box-shadow: -8px -4px 8px 0px rgb(66, 66, 66), 8px 4px 12px 0px rgb(48, 48, 48);
    }
  }
}

.textlight {
  color: $text-light;
}
.textdark {
  color: $text-dark;
}
.beige {
  color: $halmar-beige;
}